gardb-detail {
  display: block;
  position: relative;
  transition: opacity 0.5s, visibility 0s 0.5s;

  &.is-open {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .close {
    font-size: inherit;
    outline: none;
    border: 0 none;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:focus, &:hover {
      outline: none;
      transform: translateX(-5%);
    }
  }
  table {
    table-layout: auto;

    .label {
      width: 12em;
      text-transform: capitalize;
    }
  }
}
