gardener-search {
  font-weight: 400;
  font-family: inherit;
  font-size: var(--gs-font-size-base);
  -webkit-font-smoothing: antialiased;
  display: block;
  background: var(--gs-color-bg);
  color: var(--gs-color-text);
  line-height: 1.4;
  padding: 15px;
  max-height: 100%;

  @include media-breakpoint-up(md) {
    padding: 25px;
  }

  * {
    box-sizing: border-box;
  }

  *:before,
  *:after {
    box-sizing: border-box;
  }

  p {
    margin: 0 0 1em 0;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-family: inherit;
  }

  p+h4 {
    margin-top: 1.5em;
  }

  button {
    margin: 10px 0 0;
    white-space: nowrap;
    -webkit-appearance: none;
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    flex: 1;

    &+button {
      margin-left: 10px;
    }

    @include media-breakpoint-up(sm) {
      margin: 0;
      display: inline-block;
      min-width: 200px;
      flex: none
    }
  }
  .gardener-search-wrapper {

    .gardener-search {
      &-content {
        overflow: auto;
      }

      &-options {
        padding: 0;
        margin: 0;
        background: 0 none;

        @include media-breakpoint-up(lg) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

      }
    }
  }

  .h100 {
    height: 100%;
  }

  .glossary {
    list-style: none;
    padding: 0;

    li {
      text-transform: uppercase;
      font-weight: bold;
      min-width: 25px;
      min-height: 25px;
      text-align: center;
      line-height: 20px;
      font-size: 18px;

      a {
        display: block;
        height: 100%;
        text-decoration: none;
        transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }

  button {
    text-transform: uppercase;
    background-color: var(--gs-color-primary);
    color: white;
    text-align: center;
    text-decoration: none;
    @include media-breakpoint-up(lg) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &.submit-selection {
      background-color: transparent;

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 0, 0, .05);
      }
    }

    &.submit-all {
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem var(--gs-button-primary-focus-color);
      }
    }
  }
}
