gardb-search {
  font-weight: 400;
  font-family: inherit;
  font-size: var(--gs-font-size-base);
  -webkit-font-smoothing: antialiased;
  display: block;
  background: var(--gs-color-bg);
  color: var(--gs-color-text);
  line-height: 1.4;
  padding: 15px;
  max-height: 100%;

  @include media-breakpoint-up(md) {
    padding: 25px;
  }

  * {
    box-sizing: border-box;
  }

  *:before,
  *:after {
    box-sizing: border-box;
  }

  p {
    margin: 0 0 1em 0;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
    font-family: inherit;
  }

  p+h4 {
    margin-top: 1.5em;
  }

  .h100 {
    height: 100%;
  }
}
