gardb-results {
  display: block;
  overflow: hidden;
  width: 100%;

  .table-wrapper {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: rgb(0, 0, 0);
      }

      &:before {
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }

      &:after {
        content: "";
        right: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

  }

  .table__button {
    padding: 0.25em;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;

      path {
        fill: var(--gs-color-primary)
      }
    }
  }

  .table__link {
    color: var(--gs-color-primary);
    cursor: pointer;
  }

  table {
    width: 100%;
    overflow: scroll;

    thead tr,
    tbody tr:nth-child(2n) {
      background: #f5f5f5;
    }
    tbody tr {
      transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    tbody tr:not(.detail) {
      cursor: pointer;
      &:hover {
        background: white;
      }
    }

    .person {
      min-width: 8em;

      @include media-breakpoint-up(md) {
        min-width: 12em;
      }
    }

    .id {
      max-width: 4em;
      overflow: hidden;
      white-space: nowrap;
    }

    .year {
      max-width: 4em;
      overflow: hidden;
      white-space: nowrap;
    }

    .details {
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
    }

    .author {
      min-width: 12em;
    }
  }
}