gardb-results {
  display: block;
  overflow: hidden;
  width: 100%;

  .table-wrapper {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: rgb(0, 0, 0);
      }

      &:before {
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }

      &:after {
        content: "";
        right: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

  }

  .table-responsive {
    scroll-behavior: smooth;
  }

  .table__button {
    padding: 0.25em;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;

      path {
        fill: var(--gs-color-primary)
      }
    }
  }

  .table__link {
    color: var(--gs-color-primary);
    cursor: pointer;
  }

  table {
    table-layout: auto;
    width: 100%;

    td {
      overflow: hidden;
    }

    .person {
      min-width: 20em;
    }

    .id {
      width: 4em;
      overflow: hidden;
      white-space: nowrap;
    }

    .year {
      width: 4em;
      overflow: hidden;
      white-space: nowrap;
    }

    .details {
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
    }

    .author {
      min-width: 12em;
    }


  }
}